<div class="container-fluid">
    <div class="activity">
        <h2>Activity</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

        <div class="actContainer">
            <div class="delivered">
                <div class="iconD">
                    <a href="">
                        <fa-icon [icon]="faTruck"></fa-icon>
                    </a>
                </div>
                <h4>Delivered</h4>
                <p>Lorem ipsum.</p>
                <div class="progress-line">
                    <div class="l D"></div>
                </div>
            </div>
            <div class="ordered">
                <div class="iconO">
                    <a href="">
                        <fa-icon [icon]="faBagShopping"></fa-icon>
                    </a>
                </div>
                <h4>Ordered</h4>
                <p>Lorem ipsum.</p>
                <div class="progress-line">
                    <div class="l O"></div>
                </div>
            </div>
            <div class="reported">
                <div class="iconR">
                    <a href="">
                        <fa-icon [icon]="faFileInvoice"></fa-icon>
                    </a>
                </div>
                <h4>Reported</h4>
                <p>Lorem ipsum.</p>
                <div class="progress-line">
                    <div class="l R"></div>
                </div>
            </div>
            <div class="arrived">
                <div class="iconA">
                    <a href="">
                        <fa-icon [icon]="faLocationDot"></fa-icon>
                    </a>
                </div>
                <h4>Arrived</h4>
                <p>Lorem ipsum.</p>
                <div class="progress-line">
                    <div class="l A"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="RS">
        <div class="revenue">
            <h2>Daily Revenue Overview</h2>
            <div class="box">

                <div class="box1">
                    <div class="daily">
                        <h2><span>$</span>8,27,000</h2>
                        <p>Daily Revenue</p>
                    </div>
                    <div class="hourly">
                        <h2><span>$</span>37,000</h2>
                        <p>Hourly Revenue</p>
                    </div>
                </div>
                <div class="box2">
                    <div class="c1">
                        <div class="blue"></div>
                        <div class="orange"></div>
                    </div>
                    <div class="c2">
                        <div class="blue"></div>
                        <div class="orange"></div>
                    </div>
                    <div class="c3">
                        <div class="blue"></div>
                        <div class="orange"></div>
                    </div>
                    <div class="c4">
                        <div class="blue"></div>
                        <div class="orange"></div>
                    </div>
                    <div class="c5">
                        <div class="blue"></div>
                        <div class="orange"></div>
                    </div>
                    <div class="c6">
                        <div class="blue"></div>
                        <div class="orange"></div>
                    </div>
                    <div class="c7">
                        <div class="blue"></div>
                        <div class="orange"></div>
                    </div>
                    <div class="c8">
                        <div class="blue"></div>
                        <div class="orange"></div>
                    </div>
                    <div class="c9">
                        <div class="blue"></div>
                        <div class="orange"></div>
                    </div>
                    <div class="c10">
                        <div class="blue"></div>
                        <div class="orange"></div>
                    </div>

                </div>
            </div>
        </div>


        <div class="support">
            <div class="iconS">
                <fa-icon [icon]="faHeadset"></fa-icon>
            </div>
            <h2>Support Center</h2>

            <p class="supportS">Lorem ipsum dolor sit amet consectetur adipisicing elit. s vero hic deserunt eveniet,
                repudiandae quisquam illo atque. Expedita tenetur magnam consectetur id sequi cumque obcaecati, nulla ex
                soluta et in.</p>
        </div>
    </div>


    <div class="AT">
        <div class="appointments">
            <h2>My Appointments</h2>

            <!-- SmallTable - Tabular Implementation-->
            <div class="card">

                <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                <table>
                    <tr>
                        <td>Name</td>
                        <td>Specialist</td>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                    </tr>
                    <tr>
                        <td>Charles Bradley</td>
                        <td>Dentist</td>
                        <td>27th Feb 2022</td>
                        <td>11:00 AM</td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="card">

                <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                <table>
                    <tr>
                        <td>Name</td>
                        <td>Specialist</td>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                    </tr>
                    <tr>
                        <td>Charles Bradley</td>
                        <td>Dentist</td>
                        <td>27th Feb 2022</td>
                        <td>11:00 AM</td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card">

                <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                <table>
                    <tr>
                        <td>Name</td>
                        <td>Specialist</td>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                    </tr>
                    <tr>
                        <td>Charles Bradley</td>
                        <td>Dentist</td>
                        <td>27th Feb 2022</td>
                        <td>11:00 AM</td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card">

                <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                <table>
                    <tr>
                        <td>Name</td>
                        <td>Specialist</td>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                    </tr>
                    <tr>
                        <td>Charles Bradley</td>
                        <td>Dentist</td>
                        <td>27th Feb 2022</td>
                        <td>11:00 AM</td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card">

                <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                <table>
                    <tr>
                        <td>Name</td>
                        <td>Specialist</td>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                        <td>:</td>
                    </tr>
                    <tr>
                        <td>Charles Bradley</td>
                        <td>Dentist</td>
                        <td>27th Feb 2022</td>
                        <td>11:00 AM</td>
                        <td>
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </td>
                    </tr>
                </table>
            </div>
            <!--CSS Implementation-->

            <!-- <div class="smalltable">
                <div class="col-data">
                    <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                </div>
                <p class="colData">Name&nbsp;&nbsp;:&nbsp;&nbsp;Chareles Bradley</p>
                <p class="colData">Specialist&nbsp;&nbsp;:&nbsp;&nbsp;Dentist</p>
                <p class="colData">Date&nbsp;&nbsp;:&nbsp;&nbsp;27th-Feb-2022</p>
                <p class="colData">Time&nbsp;&nbsp;:&nbsp;&nbsp;11:00AM</p>
                <p class="colData">Status&nbsp;&nbsp;:&nbsp;&nbsp;<fa-icon [icon]="faCheck"></fa-icon></p>
            </div>
            <div class="smalltable">
                <div class="col-data">
                    <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                </div>
                <p class="colData">Name&nbsp;&nbsp;:&nbsp;&nbsp;Chareles Bradley</p>
                <p class="colData">Specialist&nbsp;&nbsp;:&nbsp;&nbsp;Dentist</p>
                <p class="colData">Date&nbsp;&nbsp;:&nbsp;&nbsp;27th-Feb-2022</p>
                <p class="colData">Time&nbsp;&nbsp;:&nbsp;&nbsp;11:00AM</p>
                <p class="colData">Status&nbsp;&nbsp;:&nbsp;&nbsp;<fa-icon [icon]="faCheck"></fa-icon></p>
            </div>
            <div class="smalltable">
                <div class="col-data">
                    <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                </div>
                <p class="colData">Name&nbsp;&nbsp;:&nbsp;&nbsp;Chareles Bradley</p>
                <p class="colData">Specialist&nbsp;&nbsp;:&nbsp;&nbsp;Dentist</p>
                <p class="colData">Date&nbsp;&nbsp;:&nbsp;&nbsp;27th-Feb-2022</p>
                <p class="colData">Time&nbsp;&nbsp;:&nbsp;&nbsp;11:00AM</p>
                <p class="colData">Status&nbsp;&nbsp;:&nbsp;&nbsp;<fa-icon [icon]="faCheck"></fa-icon></p>
            </div>
            <div class="smalltable">
                <div class="col-data">
                    <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                </div>
                <p class="colData">Name&nbsp;&nbsp;:&nbsp;&nbsp;Chareles Bradley</p>
                <p class="colData">Specialist&nbsp;&nbsp;:&nbsp;&nbsp;Dentist</p>
                <p class="colData">Date&nbsp;&nbsp;:&nbsp;&nbsp;27th-Feb-2022</p>
                <p class="colData">Time&nbsp;&nbsp;:&nbsp;&nbsp;11:00AM</p>
                <p class="colData">Status&nbsp;&nbsp;:&nbsp;&nbsp;<fa-icon [icon]="faCheck"></fa-icon></p>
            </div>
            <div class="smalltable">
                <div class="col-data">
                    <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                </div>
                <p class="colData">Name&nbsp;&nbsp;:&nbsp;&nbsp;Chareles Bradley</p>
                <p class="colData">Specialist&nbsp;&nbsp;:&nbsp;&nbsp;Dentist</p>
                <p class="colData">Date&nbsp;&nbsp;:&nbsp;&nbsp;27th-Feb-2022</p>
                <p class="colData">Time&nbsp;&nbsp;:&nbsp;&nbsp;11:00AM</p>
                <p class="colData">Status&nbsp;&nbsp;:&nbsp;&nbsp;<fa-icon [icon]="faCheck"></fa-icon></p>
            </div>
            <div class="smalltable">
                <div class="col-data">
                    <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                </div>
                <p class="colData">Name&nbsp;&nbsp;:&nbsp;&nbsp;Chareles Bradley</p>
                <p class="colData">Specialist&nbsp;&nbsp;:&nbsp;&nbsp;Dentist</p>
                <p class="colData">Date&nbsp;&nbsp;:&nbsp;&nbsp;27th-Feb-2022</p>
                <p class="colData">Time&nbsp;&nbsp;:&nbsp;&nbsp;11:00AM</p>
                <p class="colData">Status&nbsp;&nbsp;:&nbsp;&nbsp;<fa-icon [icon]="faCheck"></fa-icon></p>
            </div> -->

            <!--Div Implementation for small screens-->

            <!-- <div class="smalltable">
                <img src="../../assets/user.jpg" height="10px" id="appointmentImg">
                <div class="col-data">
                    <h3 class="maincolumn">Name&nbsp;&nbsp;:</h3>
                    <h4 class="datacolumn">&nbsp;Charles Bradley</h4>
                </div>
                <div class="col-data">
                    <h3 class="maincolumn">Specialist&nbsp;&nbsp;: </h3>
                    <h4 class="datacolumn">&nbsp;Dentist</h4>
                </div>
                <div class="col-data">    
                    <h3 class="maincolumn">Date&nbsp;&nbsp;: </h3>
                    <h4 class="datacolumn">&nbsp;23-Feb-2022</h4>
                </div>
                <div class="col-data">
                    <h3 class="maincolumn">Time&nbsp;&nbsp;: </h3>
                    <h4 class="datacolumn">&nbsp;11:00 AM</h4>
                </div>    
                <div class="col-data">
                    <h3 class="maincolumn">Status&nbsp;&nbsp;: </h3>
                    <h4 class="datacolumn">&nbsp;<fa-icon [icon]="faCheck"></fa-icon></h4>        
                </div>
            </div> -->

            <div class="table">
                <div class="headtable">
                    <div class="name tag">
                        <h3>Name</h3>
                    </div>
                    <div class="specialist">
                        <h3>Specialist</h3>
                    </div>
                    <div class="date">
                        <h3>Date</h3>
                    </div>
                    <div class="time">
                        <h3>Time</h3>
                    </div>
                    <div class="status">
                        <h3>Status</h3>
                    </div>
                </div>

                <div class="datatable">
                    <div class="name"><img src="../../assets/user.jpg" height="10px" id="appointmentImg"> Charles
                        Bradley</div>
                    <div class="specialist">Dentist</div>
                    <div class="date">27 Feb 2022</div>
                    <div class="time">11:00AM</div>
                    <div class="status">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                </div>

                <div class="datatable">
                    <div class="name"><img src="../../assets/user.jpg" height="10px" id="appointmentImg"> Charles
                        Bradley</div>
                    <div class="specialist">Dentist</div>
                    <div class="date">27 Feb 2022</div>
                    <div class="time">11:00AM</div>
                    <div class="status">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                </div>

                <div class="datatable">
                    <div class="name"><img src="../../assets/user.jpg" height="10px" id="appointmentImg"> Charles
                        Bradley</div>
                    <div class="specialist">Dentist</div>
                    <div class="date">27 Feb 2022</div>
                    <div class="time">11:00AM</div>
                    <div class="status">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                </div>

                <div class="datatable">
                    <div class="name"><img src="../../assets/user.jpg" height="10px" id="appointmentImg"> Charles
                        Bradley</div>
                    <div class="specialist">Dentist</div>
                    <div class="date">27 Feb 2022</div>
                    <div class="time">11:00AM</div>
                    <div class="status">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                </div>

                <div class="datatable">
                    <div class="name"><img src="../../assets/user.jpg" height="10px" id="appointmentImg"> Charles
                        Bradley</div>
                    <div class="specialist">Dentist</div>
                    <div class="date">27 Feb 2022</div>
                    <div class="time">11:00AM</div>
                    <div class="status">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                </div>

                <div class="datatable">
                    <div class="name"><img src="../../assets/user.jpg" height="10px" id="appointmentImg"> Charles
                        Bradley</div>
                    <div class="specialist">Dentist</div>
                    <div class="date">27 Feb 2022</div>
                    <div class="time">11:00AM</div>
                    <div class="status">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                </div>

                <div class="datatable">
                    <div class="name"><img src="../../assets/user.jpg" height="10px" id="appointmentImg"> Charles
                        Bradley</div>
                    <div class="specialist">Dentist</div>
                    <div class="date">27 Feb 2022</div>
                    <div class="time">11:00AM</div>
                    <div class="status">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                </div>
            </div>

        </div>

        <div class="team">
            <h2>My Team</h2>

            <div class="teambox">
                <div class="teamuserimg">
                    <img src="../../assets/user.jpg" alt="userimage">
                </div>
                <div class="ns">
                    <div class="name">
                        <h3>Elizabeth McCoy</h3>
                    </div>
                    <div class="role">
                        <p>admin</p>
                    </div>
                </div>
            </div>

            <hr>
            <div class="teambox">
                <div class="teamuserimg">
                    <img src="../../assets/user.jpg" alt="userimage">
                </div>
                <div class="ns">
                    <div class="name">
                        <h3>Elizabeth McCoy</h3>
                    </div>
                    <div class="role">
                        <p>admin</p>
                    </div>
                </div>
            </div>

            <hr>
            <div class="teambox">
                <div class="teamuserimg">
                    <img src="../../assets/user.jpg" alt="userimage">
                </div>
                <div class="ns">
                    <div class="name">
                        <h3>Elizabeth McCoy</h3>
                    </div>
                    <div class="role">
                        <p>admin</p>
                    </div>
                </div>
            </div>

            <hr>
            <div class="teambox">
                <div class="teamuserimg">
                    <img src="../../assets/user.jpg" alt="userimage">
                </div>
                <div class="ns">
                    <div class="name">
                        <h3>Elizabeth McCoy</h3>
                    </div>
                    <div class="role">
                        <p>admin</p>
                    </div>
                </div>
            </div>

            <hr>
            <div class="teambox">
                <div class="teamuserimg">
                    <img src="../../assets/user.jpg" alt="userimage">
                </div>
                <div class="ns">
                    <div class="name">
                        <h3>Elizabeth McCoy</h3>
                    </div>
                    <div class="role">
                        <p>admin</p>
                    </div>
                </div>
            </div>

            <hr>

        </div>
    </div>
</div>