<div class="container">
    <div class="logo">
        <img src="../../assets/logo.jpg" alt="">
    </div>
    <div class="home">
        <div class="icon">
            <fa-icon [icon]="faHouse"></fa-icon>
        </div>
        <div class="name">
            <a routerLink="/home" routerLinkActive="list-item-active">&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
        </div>
    </div>
    <div class="dashboard">
        <div class="icon">
            <fa-icon [icon]="faTableColumns"></fa-icon>
        </div>
        <a routerLink="/dashboard" routerLinkActive="list-item-active">&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</a>
    </div>
    <div class="tasks">
        <fa-icon [icon]="faListCheck"></fa-icon>
        <a routerLink="/home" routerLinkActive="list-item-active">&nbsp;&nbsp;&nbsp;&nbsp;Tasks</a>
    </div>
    <div class="projects">
        <fa-icon [icon]="faDiagramProject"></fa-icon>
        <a routerLink="/home" routerLinkActive="list-item-active">&nbsp;&nbsp;&nbsp;&nbsp;Projects</a>
    </div>
    <div class="customers">
        <fa-icon [icon]="faUsers"></fa-icon>
        <a routerLink="/home" routerLinkActive="list-item-active">&nbsp;&nbsp;&nbsp;&nbsp;Customers</a>
    </div>
    <div class="schedule">
        <fa-icon [icon]="faCalendarDays"></fa-icon>
        <a routerLink="/home" routerLinkActive="list-item-active">&nbsp;&nbsp;&nbsp;&nbsp;Schedule</a>
    </div>
    <div class="planner">
        <fa-icon [icon]="faBook"></fa-icon>
        <a routerLink="/home" routerLinkActive="list-item-active">&nbsp;&nbsp;&nbsp;&nbsp;Planner</a>
    </div>
</div>